p, a, h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 54px;
}

h3 {
  font-size: 30px;
  // color: $teal;
}

a {
   font-style: italic;
 }
a:hover {
  // font-style: italic;
  text-decoration: underline;

}
