// page resets
$teal: #00838E;


*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  overflow-x: hidden; 
}

p, a, h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 54px;
}

h3 {
  font-size: 30px;
}

button {
  background: $teal;
}



// //////////////////////////////////


.container--hero {
  background: url("../imgs/header1.png");
  background-size: cover;
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .hero--text {
    width: 75%;
    color: white;
    text-shadow: 0px 2px 8px rgba(0,0,0,.5);
    a {
      text-shadow: none;
    }
  }
}

.container--about {
  padding-top: 3em;
  h3, h1, p {
    text-align: center;
  }
  h3 {
    font-style: italic;
  }
  a {
    text-align: left;
  }
  .row {
    display: flex;    
    justify-content: space-between;
  }
}

.container--spacer {
  background: url("../imgs/middle1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;  
  height: 50vh;
  width: 100%;
  margin: 3em 0;
}

.container--coc {
  .row {
    .m3 {
      margin: 0 auto;
    }
  }
}

.col {
  p {
    text-align: left;
  }
  img {
    height: 120px;
  }
}
