p, a, h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif; }

h1 {
  font-size: 80px; }

h2 {
  font-size: 54px; }

h3 {
  font-size: 30px; }

a {
  font-style: italic; }

a:hover {
  text-decoration: underline; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

nav .nav-wrapper {
  width: 90%;
  margin: 0 auto; }
  nav .nav-wrapper a {
    font-style: normal;
    text-transform: uppercase; }
nav .brand-logo {
  top: 10px; }
  nav .brand-logo img {
    height: 1.5em; }

body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  overflow-x: hidden; }

button {
  background: #00838E; }

.container {
  padding-top: 3em; }
  .container h3, .container h1 {
    text-align: center; }
  .container a {
    text-align: left; }
  .container .row {
    padding: 3em 0; }
    .container .row .col img {
      display: block;
      margin: 0 auto; }

.col p {
  text-align: left; }
.col img {
  height: 200px; }

.container--hero {
  background: url("../imgs/header2.png");
  background-size: cover;
  height: 85vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .container--hero .hero--text {
    width: 75%;
    color: white;
    text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5); }
    .container--hero .hero--text a {
      text-shadow: none; }

.container--about h1, .container--about h5 {
  color: #00838E; }
.container--about h1 {
  -webkit-text-stroke: 2px #00838E;
  color: white;
  text-shadow: 2px 2px 0 #00838E, -2px -2px 0 #00838E, 2px -2px 0 #00838E, -2px 2px 0 #00838E, 2px 2px 0 #00838E; }
.container--about p, .container--about h5 {
  text-align: center; }
.container--about .row:first-of-type {
  display: flex;
  justify-content: space-between; }
  .container--about .row:first-of-type .col:first-of-type {
    margin-left: 0; }
  .container--about .row:first-of-type .col h3 {
    font-style: italic;
    color: black; }
.container--about .row:last-of-type p {
  text-align: left; }
.container--about .row:last-of-type a {
  font-size: 1.2em; }

.container--spacer {
  background: url("../imgs/middle2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  height: 60vh;
  width: 100%;
  margin: 3em 0; }

.container--coc h1 {
  -webkit-text-stroke: 2px #00838E;
  color: white;
  text-shadow: 2px 2px 0 #00838E, -2px -2px 0 #00838E, 2px -2px 0 #00838E, -2px 2px 0 #00838E, 2px 2px 0 #00838E; }
.container--coc h3 {
  font-style: italic; }
.container--coc .row .col img {
  height: 120px; }
.container--coc .row .col p {
  text-align: center; }
.container--coc .coc--touchpoint {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  width: 75%;
  margin-bottom: 1.5em; }
  .container--coc .coc--touchpoint h2 {
    margin: 0;
    padding-right: 1em; }
  .container--coc .coc--touchpoint p {
    margin-top: 0; }
.container--coc ul {
  margin: 0 2em; }
  .container--coc ul li {
    list-style-type: circle; }

/*# sourceMappingURL=master.css.map */
