.container--about {
  h1, h5 {
    color: $teal;
  }
  h1 {
    -webkit-text-stroke: 2px $teal;
   color: white;
   text-shadow:
       2px 2px 0 $teal,
     -2px -2px 0 $teal,
      2px -2px 0 $teal,
      -2px 2px 0 $teal,
       2px 2px 0 $teal;
  }
  p, h5 {
    text-align: center;
  }
  .row:first-of-type {
    display: flex;
    justify-content: space-between;
    .col:first-of-type {
      margin-left: 0;
    }
    .col {
      h3 {
        font-style: italic;
        color: black;
      }
    }
  }
  .row:last-of-type {
    p {
      text-align: left;
    }
    a {
      font-size: 1.2em;
    }
  }
}
