.container--about {
  padding-top: 3em;
  h3, h1, p {
    text-align: center;
  }
  h3 {
    font-style: italic;
  }
  a {
    text-align: left;
  }
  .row {
    display: flex;
    justify-content: space-between;
  }
}
