.container--hero {
  background: url("../imgs/header2.png");
  background-size: cover;
  height: 85vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .hero--text {
    width: 75%;
    color: white;
    text-shadow: 0px 2px 8px rgba(0,0,0,.5);
    a {
      text-shadow: none;
    }
  }
}
