.container--spacer {
  background: url("../imgs/middle2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  height: 60vh;
  width: 100%;
  margin: 3em 0;
}
